@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-whyte);
}

p,
a,
span,
li {
  font-family: var(--font-romela);
}

button,
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: var(--font-romela);
}

select.hide-caret {
  appearance: none;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #372b55;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #6941c6;
}

::selection {
  color: white;
  background: #372b55;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
